.place__image-container {
    flex: 1 1 48%;
    margin: 60px 0 0 0;
}

@media (max-width : 1024px) {
    .place__image-container {
        margin: 40px 0 0 0;
    }
}
@media (max-width : 768px) {
    .place__image-container {
        margin: 40px 0 0 0;
    }
}
@media (max-width : 425px) {
    .place__image-container {
        margin: 32px 0 0 0;
        flex-basis: 100%;
    }
}