.photo-grid__list {
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 90px auto 0;
  list-style: none;
}

@media (max-width : 1024px) {
  .photo-grid__list {
    margin: 90px auto 0;
  }
}
@media (max-width : 768px) {
  .photo-grid__list {
    margin: 90px auto 0;
  }
}
@media (max-width : 425px) {
  .photo-grid__list {
    margin: 72px auto 0;
  }
}
