.cover__bg {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 594px;
    z-index: 1;
    overflow: hidden;
    background-color: #2A2C2F;
    opacity: 0.3;
}

@media (max-width : 1024px) {
    .cover__bg {
        width: 100%;
        height: 594px;
    }
}
@media (max-width : 768px) {
    .cover__bg {
        width: 100%;
        height: 500px;
    }
}
@media (max-width : 425px) {
    .cover__bg {
        width: 100%;
        height: 272px;
    }
}