.comments__container {
    padding: 0 0 0 0;
    max-width: 1184px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 48px;
}

@media (max-width : 1024px) {
    .comments__container {
        padding: 0 0 0 0;
        max-width: 925px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 48px;
    }
}
@media (max-width : 768px) {
    .comments__container {
        padding: 0 0 0 0;
        max-width: 382px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 35px auto 0;
    }
}
@media (max-width : 425px) {
    .comments__container {
        padding: 0 0 0 0;
        max-width: 343px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto;
    }
}