.cover__subtitle {
    margin: 0 auto 48px;
    width: 382px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    z-index: 2;
}

@media (max-width : 1024px) {
    .cover__subtitle {
        margin: 0 auto 34px;
    }
}
@media (max-width : 768px) {
    .cover__subtitle {
        margin: 0 auto 40px;
    }
}
@media (max-width : 425px) {
    .cover__subtitle  {
        margin: 0 auto 24px;
        width: 280px;
        font-size: 14px;
        line-height: 17px;
    }
}
