.cover__subtitle {
    margin: 0 auto;
    padding-bottom: 34px;
    max-width: 438px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
}