.cover__subtitle {
    position: absolute;
    margin: 0 auto;
    width: 382px;
    left: 0;
    right: 0;
    top: 477px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    z-index: 2;
}

@media (max-width : 1024px) {
    .cover__subtitle {
        width: 382px;
        top: 490px;
        left: 0;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
    }
}
@media (max-width : 768px) {
    .cover__subtitle {
        width: 382px;
        top: 380px;
        left: 0;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
    }
}
@media (max-width : 425px) {
    .cover__subtitle  {
        width: 280px;
        top: 190px;
        left: 0;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}
