.video__overlay-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 5px;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 323px;
}

@media (max-width : 1024px) {
    .video__overlay-container {
        height: 288px;
    }
}
@media (max-width : 768px) {
    .video__overlay-container {
        height: 200px;
    }
}
@media (max-width : 425px) {
    .video__overlay-container {
        height: 200px;
    }
}
