.photo-grid__item {
    width: 284px;
    height: 188px;
    margin: 0 8px 16px;
}

@media (max-width : 1024px) {
    .photo-grid__item {
        width: 300px;
        height: 200px;
        margin: 0 8px 16px;
    }
}
@media (max-width : 768px) {
    .photo-grid__item {
        width: 352px;
        height: 234px;
        margin: 0 8px 16px 0;
    }
}
@media (max-width : 425px) {
    .photo-grid__item {
        width: 343px; /* TODO the brief says 343px and it is 343px here */
        height: 232px;
        margin: 0 0 16px 0;
    }
}
