@import url("__logo/header__logo.css");
@import url("__lang-container/header__lang-container.css");
@import url("__lang/header__lang.css");

.header {
    display: flex;
    justify-content: space-between;
    width: 928px;
    margin-top: 36px;
    margin-left: 48px;
}