.place__uri-heading {
    margin-bottom: 16px;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: .2em;
    color: #AAAAAA;
}

@media (max-width : 425px) {
    .place__uri-heading {
        visibility: hidden;
    }
}
