.place__paragraphs {
  margin: 0 0 0 20px;
  width: 484px;
}

@media (max-width: 1024px) {
  .place__paragraphs {
    margin: 0 0 0 16px;
    width: 456px;
  }
}

@media (max-width: 768px) {
  .place__paragraphs {
    margin: 0 0 0 14px;
    width: 352px;
  }
}

@media (max-width: 425px) {
  .place__paragraphs {
    margin: 24px 0 0 16px;
    max-width: 343px;
  }
}

@media (max-width: 320px) {
  .place__paragraphs {
    margin: 24px 0 0 16px;
    max-width: 288px;
  }
}

