.video__item {
    position: relative;
    max-width: 583px; /* This is exactly the value that is specified in Figma for 1440 and 1280 */
    height: 323px;
    margin: 0 9px 0;
    overflow: hidden;
}

@media (max-width : 1024px) {
    .video__item {
        margin: 0 8px 0;
        max-width: 456px;
        height: 288px;
    }

}
@media (max-width : 768px) {
    .video__item {
        margin: 0 8px 0;
        max-width: 352px;
        height: 200px;
    }

}
@media (max-width : 425px) {
    .video__item {
        margin: 0 auto 8px auto;
        max-width: 343px;
        height: 200px;
    }
}

