@import url("_old-faithful/video__item_old-faithful.css");
@import url("_ragbrai/video__item_rabrai.css");

.video__item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 30px 30px 30px;
    max-width: 583px;
    height: 323px;
    margin: 0;
    border-radius: 5px;
    overflow: hidden;
    background-size: cover;
    position: relative;
}

.video__item:hover:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
  border-radius: 5px;
}

@media (max-width : 1024px) {
    .video__item {
        padding: 30px 30px 35px;
        max-width: 456px;
        height: 288px;
    }

}
@media (max-width : 768px) {
    .video__item {
        padding: 24px 24px 24px;
        max-width: 352px;
        height: 200px;
    }
}
@media (max-width : 425px) {
    .video__item {
        padding: 24px 24px 24px;
        margin: 0 auto 8px auto;
        max-width: 343px;
        height: 200px;
    }
}
@media (max-width : 320px) {
  .video__item {
    padding: 16px 16px 16px;
    max-width: 288px;
    height: 192px;
  }
}
