.intro__content-row {
    max-width: 683px;
    margin-top: 33px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}


@media (max-width : 1024px) {
    .intro__content-row {
        margin-top: 38px;
        max-width: 683px;
        font-size: 14px;
        line-height: 24px;
    }
}
@media (max-width : 768px) {
    .intro__content-row {
        max-width: 720px;
        margin-top: 38px;
        font-size: 14px;
        line-height: 24px;
    }
}
@media (max-width : 425px) {
    .intro__content-row {
        margin-top: 35px;
        max-width: 343px;
        font-size: 16px;
        line-height: 27px;
    }
}