.intro__content-row {
    max-width: 683px;
    margin: 33px 148px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}


@media (max-width : 1024px) {
    .intro__content-row {
        margin: 38px 48px 0;
        max-width: 683px;
    }
}
@media (max-width : 768px) {
    .intro__content-row {
        max-width: 720px;
        margin: 37px 24px 0;
    }
}
@media (max-width : 425px) {
    .intro__content-row {
        margin: 35px 16px 0;
        max-width: 343px;
        font-size: 16px;
        line-height: 27px;
    }
}
