.content-subtitle_comments {
  margin: 66px auto 0 auto;
}

@media (max-width : 1024px) {
  .content-subtitle_comments {
    max-width: 580px;
  }
}
@media (max-width : 768px) {
  .content-subtitle_comments {
    max-width: 580px;
    margin-top: 48px;
  }
}
@media (max-width : 425px) {
  .content-subtitle_comments {
    max-width: 350px;
    margin-top: 16px;
  }
}
