.comments__content-subtitle {
    margin: 66px auto 0 auto;
    max-width: 640px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
}

@media (max-width : 1024px) {
    .comments__content-subtitle {
        max-width: 640px;
        font-size: 24px;
        line-height: 35px;
    }
}
@media (max-width : 768px) {
    .comments__content-subtitle {
        max-width: 640px;
        margin-top: 48px;
        font-size: 24px;
        line-height: 35px;
    }
}
@media (max-width : 425px) {
    .comments__content-subtitle {
        margin-top: 16px;
        max-width: 343px;
        font-size: 16px;
        line-height: 23px;
    }
}