.video__duration {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 165px;
    left: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: .3em;
    z-index: 2;
}

@media (max-width : 1024px) {
    .video__duration {
        top: 125px;
        left: 30px;
    }

}
@media (max-width : 768px) {
    .video__duration {
        top: 104px;
        left: 24px;
    }

}
@media (max-width : 425px) {
    .video__duration {
        top: 104px;
        left: 24px;
    }
}
