.footer__copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    margin: auto 0;
    padding: 0;
}

@media (max-width : 1024px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 20px;
    }
}
@media (max-width : 768px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 20px;
    }
}
@media (max-width : 425px) {
    .footer__copyright {
        margin-top: 48px;
        font-size: 14px;
        line-height: 20px;
        text-align: left;
    }
}
