.video__title {
    margin: 12px 0 0;
    padding: 0;
    max-width: 322px;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 39px;
    flex: 1;
    z-index: 2;
}

@media (max-width : 1024px) {
    .video__title {
        font-size: 36px;
        line-height: 39px;
    }
}
@media (max-width : 768px) {
    .video__title {
        margin: 8px 0 0;
        font-size: 24px;
        line-height: 26px;
        flex: 0;
    }
}
