.video__icon-play {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 41px;
    heigth: 41px;
    z-index: 2;
}

@media (max-width : 1024px) {
    .video__icon-play {
    }

}
@media (max-width : 768px) {
    .video__icon-play {
        top: 24px;
        left: 24px;
    }

}
@media (max-width : 425px) {
    .video__icon-play {
        top: 24px;
        left: 24px;
    }
}