.video__icon-play {
    flex: 1;
    width: 41px;
    height: 41px;
    background-image: url("../../../images/__icon_play.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 2;
}
