.intro__facts {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    margin: 24px 148px 0;
    text-align: left;
    max-width: 170px;
    padding: 0;
    list-style: none;
}

.intro__facts-bold {
    font-weight: bold;
}

@media (max-width : 1024px) {
    .intro__facts {
        margin: 24px 48px 0;
    }
}
@media (max-width : 768px) {
    .intro__facts {
        margin: 25px 24px 0;
    }
}
@media (max-width : 425px) {
    .intro__facts {
        margin: 28px 16px 0;
        font-size: 12px;
        line-height: 19px;
    }
}
