.lead__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    width: 928px;
    margin-top: 48px;
    margin-left: 48px;
    margin-right: 48px;
    margin-bottom: 0px;
    border: 1px solid red;
}
