@import url("__title/cover__title.css");
@import url("__subtitle/cover__subtitle.css");
@import url("__bg-image/cover__bg-image.css");
@import url("__container/cover__container.css");

.cover {
    position: relative;
    max-width: 1184px;
    height: 594px;
    margin: 102px auto 0;
    z-index: 0;
    overflow:hidden;
    background-color: #2A2C2F;
    opacity: 0.7;
}

@media (max-width : 1024px) {
    .cover {
        max-width: 1024px;
        height: 594px;
        margin: 85px 0 0;
    }
}
@media (max-width : 768px) {
    .cover {
        max-width: 768px;
        height: 500px;
        margin: 100px 0 0;
    }
}
@media (max-width : 425px) {
    .cover {
        max-width: 375px;
        height: 272px;
        margin: 50px 0 0;
    }
}