.comments__quote {
    max-width: 382px;
    padding: 0 18px 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

@media (max-width : 1024px) {
    .comments__quote {
        max-width: 296px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
    }
}
@media (max-width : 768px) {
    .comments__quote {
        max-width: 382px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
    }
}
@media (max-width : 425px) {
    .comments__quote {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
    }
}