.video__subtitle {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 30px;
  bottom: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  z-index: 2;
}

@media (max-width: 1024px) {
  .video__subtitle {
    left: 30px;
    bottom: 35px;
  }
}

@media (max-width: 768px) {
  .video__subtitle {
    left: 24px;
    bottom: 24px;
  }
}

@media (max-width: 425px) {
  .video__subtitle {
    left: 24px;
    bottom: 24px;
  }
}
