.video__subtitle {
  margin: 0 0 30px 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  z-index: 2;
}

@media (max-width: 1024px) {
  .video__subtitle {
    margin: 0 0 35px 30px;
  }
}

@media (max-width: 768px) {
  .video__subtitle {
    margin: 0 0 24px 24px;
  }
}

@media (max-width: 425px) {
  .video__subtitle {
    margin: 0 0 24px 24px;
  }
}
