.comments__author {
    margin: 12px 9px 0;
    padding: 0;
    max-width: 382px;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 22px;
    order: 3;
}

@media (max-width : 1024px) {
    .comments__author {
        margin: 18px 9px 0;
        padding: 0;
        max-width: 296px;
        font-size: 14px;
        line-height: 22px;
        order: 3;
    }
}
@media (max-width : 768px) {
    .comments__author {
        margin: 14px 9px 0;
        padding: 0;
        max-width: 382px;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        order: 2;
    }
}
@media (max-width : 425px) {
    .comments__author {
        margin: 14px 16px 0;
        padding: 0;
        max-width: 343px;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        order: 2;
    }
}
