.comments__content-title {
    max-width: 800px;
    margin: 82px auto 0 auto;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
}

@media (max-width : 1024px) {
    .comments__content-title {
        max-width: 800px;
        margin-top: 82px;
        font-size: 72px;
        line-height: 78px;
    }
}
@media (max-width : 768px) {
    .comments__content-title {
        max-width: 660px;
        margin-top: 116px;
        font-size: 42px;
        line-height: 46px;
    }
}
@media (max-width : 425px) {
    .comments__content-title {
        margin-top: 77px;
        max-width: 343px;
        font-size: 32px;
        line-height: 35px;
    }
}