@import url("__link/footer__link.css");
@import url("__copyright/footer__copyright.css");
@import url("__link-container/footer__link-container.css");

.footer {
    margin: 160px 48px 0;
    max-width: 1184px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width : 1024px) {
    .footer {
        margin: 126px 48px 0;
        max-width: 887px;
    }
}
@media (max-width : 768px) {
    .footer {
        margin: 102px 24px 0;
        max-width: 722px;
    }
}
@media (max-width : 425px) {
    .footer {
        margin: 65px 18px 0;
        flex-direction: column;
        max-width: 100%;
    }
}
