.video__image {
    postion: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 323px;
    border-radius: 5px;
}

@media (max-width : 1024px) {
    .video__image {
        height: 288px;
    }
}
@media (max-width : 768px) {
    .video__image {
        height: 200px;
    }
}
@media (max-width : 425px) {
    .video__image {
        height: 200px;
    }
}