.place__website {
    margin: 0 0 60px 20px;
    padding: 0;
    width: 484px;
    /*align-self: flex-end;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media (max-width : 1024px) {
    .place__website {
      margin: 0 0 60px 16px;
      width: 455px;
    }
}
@media (max-width : 768px) {
    .place__website {
      margin: 0 0 60px 14px;
      width: 352px;
    }
}
@media (max-width : 425px) {
    .place__website {
        display: none;
        margin: 0;
        padding: 0;
        width: 0;

    }
}
