.video__container {
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 72px auto 0;
}

@media (max-width : 1024px) {
    .video__container {
    }
}
@media (max-width : 768px) {
    .video__container {
        margin: 56px auto 0;
    }
}
@media (max-width : 425px) {
    .video__container {
        margin: 25px auto 0;
        flex-direction: column;
    }
}
