.place__uri {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
  text-decoration-line: underline;
}

.place__uri:hover {
  opacity: .5;
}

@media (max-width: 425px) {
  .place__uri {
    visibility: hidden;
  }
}
