.place__uri {
    padding-left: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.2em;
    color: #FFFFFF;
}

.place__uri:hover {
    opacity: 0.5;
}

@media (max-width : 1024px) {
    .place__uri {
        padding-left: 32px;
        font-size: 18px;
        line-height: 30px;
        text-decoration-line: underline;
    }
}
@media (max-width : 768px) {
    .place__uri {
        padding-left: 28px;
        font-size: 18px;
        line-height: 30px;
        text-decoration-line: underline;
    }
}
@media (max-width : 425px) {
    .place__uri {
        visibility: hidden;
    }
}
